

<!--<div class="float-right botonFiltro">
  <input type="button" class="btnAtras default" id="btnAtras" value="Borrar filtro" />
</div>-->
<div class="clear"></div>
<div class="contenedor-buscador">
  <div class="float-left texto-buscador">
    <input type="text" id="buscador" name="buscador" placeholder="Inserte su texto aquí" />
  </div>
  <div class="float-right boton-buscador">
    <input id="btnBuscador" type="submit" value="Buscar" class="default" />
  </div>
</div>

<!--<div class="row">
  <ul id="lista"></ul>
</div>-->
<!--<div id="grid"></div>-->
